*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body {
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
/*导向箭头*/
.arrow-up { position: fixed; bottom: 30px; left:50%; z-index: 150; width: 80px; height: 80px; margin-left: -39px; /*background: rgba(160,160,160,0.6); border-radius: 50%;*/ }
.arrow-up p { position: absolute; top: 50%; left: 50%; z-index:10;margin: -14px 0 0 -25px; width: 50px; height: 28px; background-position: 0 -82px;
	-webkit-animation: start 1.5s infinite ease-in-out;
	   -moz-animation: start 1.5s infinite ease-in-out;
	        animation: start 1.5s infinite ease-in-out;
}
.css_sprite01 { background-image:url(../images/css_sprite01.png)!important;  background-repeat: no-repeat!important; }
/**
 * 声音元件
 * -u-audio
 */
.u-audio { position: absolute; top: 40px; right: 0; width: 132px; height: 73px; z-index: 200; }
.u-audio .res_audio { position: absolute; top: 0; left: 0; opacity: 0; height: 0; width: 0; }
.u-audio .btn_audio { width: 100%; padding-top: 29px; height: 44px; }
.u-audio .btn_audio strong,
.u-audio .btn_audio .audio_open { display: inline-block; height: 44px; line-height: 44px; vertical-align: middle; }
.u-audio .btn_audio strong { width: 57px; font-size: 24px; color: #fff; opacity: 1; margin-top:-10px;}
.u-audio .btn_audio .audio_open { position: absolute; bottom: 0; left: 56px; width: 44px; }
.u-audio .btn_audio strong.z-hide { opacity: 0; }
.u-audio .btn_audio strong.z-move {
	-webkit-transition:opacity 0.5s;
  	   -moz-transition:opacity 0.5s;
	    -ms-transition:opacity 0.5s;
	     -o-transition:opacity 0.5s;
	        transition:opacity 0.5s;
}
.u-audio .btn_audio .audio_close { background-position: -83px -204px }
/*loading*/
.sloading{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999;
	background: #fff;
	height: 100%;
	width: 100%;
}
.sloading img{
	width: 60px;
	height:60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
}

.click-remind-ring{
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 3px solid rgba(187,151,100,.5);
	position: absolute;
	top: 14px;left: -1px;
	-webkit-animation: remind-ring 1s linear infinite;
}
/* 遮罩 */
.point{display: block; position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; opacity:.70;}
.fk{position:fixed;z-index:9999999;width:100%;top:26%;}

.swiper-container{
	/*width: 640px;
	height: 250px;*/
	max-width: 640px;
	min-width:320px;
	color: #fff;
	min-height: 100%;
	text-align: center;
}
.animation{display: none;}
.pagination {
	position: absolute;
	left: 0;
	text-align: center;
	bottom:5px;
	width: 100%;
	z-index: 100;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #999;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 3px;
	cursor: pointer;
}
.swiper-active-switch {
	background: #fff;
}
.swiper-children{
	width: 640px;
	height:430px;
	border-bottom: 8px solid #8cc126;
}
.lunb{
	width:640px;
	height:430px;
	position: absolute;
	top: 315px;
}
.balloon1{
	position: absolute;
	top: -195px; left:-50px;
	width:121px;
	height:222px;
	background:url(../images/balloon1.png) no-repeat;
	z-index: 8;
}
.balloon2{
	position: absolute;
	top: -263px; left:100px;
	width:102px;height:279px;
	background:url(../images/balloon2.png) no-repeat;
	z-index: 8;
}
.balloon3{
	position: absolute;
	top: -326px; left:155px;
	width:116px;height:337px;
	background:url(../images/balloon3.png) no-repeat;
	z-index: 8;
}
.balloon4{
	position: absolute;
	top: -265px; left:238px;
	width:119px;height:271px;
	background:url(../images/balloon4.png) no-repeat;
	z-index: 8;
}
.balloon5{
	position: absolute;
	top: -167px; left:287px;
	width:136px;height:189px;
	background:url(../images/balloon5.png) no-repeat;
	z-index: 8;
}
.bus{
	position: absolute;
	top: 400px; left:137px;
	z-index: 10;
}
.bus .body{
	position: absolute;
	width:366px;
	height:217px;
	background:url(../images/bus.jpg) no-repeat;
	z-index: 9;
    background-size:100% 100% ;
}
.wheel1{
	position: absolute;
	top: 175px; left:50px;
	width:58px;
	height:59px;
	background:url(../images/wheel.png) no-repeat;
	z-index: 10;
}
.wheel2{
	position: absolute;
	top: 175px; left:255px;
	width:58px;
	height:59px;
	background:url(../images/wheel.png) no-repeat;
	z-index: 10;
}
.shadow{
	position: absolute;
	top: 613px; left:35px;
	width:590px;
	height:43px;
	background:url(../images/shadow.png) no-repeat;
}
.butterfly1{
	position: absolute;
	top: 87px; left:-50px;
	width:55px;
	height:39px;
	background:url(../images/fly2.png) no-repeat;
}
.butterfly2{
	position: absolute;
	top: 132px; left:-63px;
	width:68px;
	height:74px;
	background:url(../images/fly1.png) no-repeat;
}
.scenic{
	position: absolute;
	top: 630px;
}
.tree1{
	background:url(../images/tree4.png) no-repeat;
}
.tree2{
	background:url(../images/tree2.png) no-repeat;
}
.tree3{
	background:url(../images/tree3.png) no-repeat;
}
.tree4{
	background:url(../images/tree4.png) no-repeat;
}
.hill1{
	background:url(../images/hill1.png) no-repeat;
}
.hill2{
	background:url(../images/hill1.png) no-repeat;
}
.hill3{
	background:url(../images/hill1.png) no-repeat;
}
.tree-p1{
	position: absolute;
	top: 30px; left:100px;
	width:53px;
	height:79px;
}
.tree2-p1{
	position: absolute;
	top: 60px; left:180px;
	width:31px;
	height:41px;
}
.tree3-p1{
	position: absolute;
	top: 120px; left:480px;
	width:29px;
	height:38px;
}
.tree4-p1{
	position: absolute;
	top: 80px; left:530px;
	width:53px;
	height:79px;
}
.hill1-p1{
	position: absolute;
	top: 90px; left:220px;
	width:90px;
	height:30px;
	background-size: 100%;
}
.hill2-p1{
	position: absolute;
	top: 170px; left:520px;
	width:119px;
	height:39px;
}
.hill3-p1{
	position: absolute;
	top: 200px; left:50px;
	width:180px;
	height:60px;
	background-size: 100%;
}
.tree1-p2{
	position: absolute;
	top: 45px;
	left: -25px;
	width: 53px;
	height: 79px;
}
.tree2-p2{
	position: absolute;
	top: 71px;
	left: 41px;
	width: 31px;
	height: 41px;
}
.tree3-p2{
	position: absolute;
	top: 165px;
	left: 349px;
	width: 29px;
	height: 38px;
}
.tree4-p2{
	position: absolute;
	top: 125px;
	left: 389px;
	width: 53px;
	height: 79px;
}
.hill1-p2{
	position: absolute;
	top: 115px;
	left: 68px;
	width: 66px;
	height: 22px;
	background-size: 100%;
}
.hill2-p2{
	position: absolute;
	top: 197px;
	left: 328px;
	width: 119px;
	height: 39px;
}
.hill3-p2{
	position: absolute;
	top: 187px;
	left: 13px;
	width: 150px;
	height: 50px;
	background-size: 100%;
}
.opacity0{
	opacity: 0;
}
#canvas{
	position: absolute;
	top: 200px;
	left: 155px;
}
.p1f1{
	position: absolute;
	top: 740px;
	width:640px;
	height:88px;
	background:url(../images/P1-f1.png) no-repeat;
}
.p2f1{
	position: absolute;
	top: 20px;
	width:640px;
	height:422px;
	background:url(../images/P2-f1-1.png) no-repeat;
}
.p2f2{
	position: absolute;
	top: 653px; left:150px;
	width:341px;
	height:78px;
	background:url(../images/P2-f2-1.png) no-repeat;
}
.p2f3{
	position: absolute;
	top: 780px; left:255px;
	width:129px;
	height:151px;
	background:url(../images/P2-f3.png) no-repeat;
}
.p2f4{
	position: absolute;
	top: 423px; left:215px;
	width:272px;
	height:239px;
	background:url(../images/P2-f4.png) no-repeat;
}
.p3f1{
	position: absolute;
	top: 480px; left:176px;
	width:295px;
	height:93px;
	background:url(../images/P3-f1.png) no-repeat;
}
.p3f2-1,.p3f2-2{
	position: absolute;
	top: 640px;
	width:640px;
	height:98px;
	opacity: 0;
}
.p3f2-1{
	background:url(../images/P3-f2-1.png) no-repeat;
}
.p3f2-2{
	background:url(../images/P3-f2-2.png) no-repeat;
}

.p4f1,.p5f2,.p6f2,.p7f2,.p8f2{
	position: absolute;
	top: 760px;
	width:640px;
	height:172px;
}
.p4f2,.p5f1,.p6f1,.p7f1,.p8f1{
	position: absolute;
	top: 50px; right: 80px;
	width:87px;
	height:183px;
}
.p4f1{
	background:url(../images/P4-f1.png) no-repeat;
}
.p4f2{
	background:url(../images/P4-f2-1.png) no-repeat;
}
.p5f1{
	background:url(../images/P5-f1.png) no-repeat;
}
.p5f2{
	background:url(../images/P5-f2.png) no-repeat;
}
.p6f1{
	background:url(../images/P6-f1.png) no-repeat;
}
.p6f2{
	background:url(../images/P6-f2.png) no-repeat;
}
.p7f1{
	background:url(../images/P7-f1.png) no-repeat;
}
.p7f2{
	background:url(../images/P7-f2.png) no-repeat;
}
.p8f1{
	background:url(../images/P8-f1.png) no-repeat;
}
.p8f2{
	background:url(../images/P8-f2-1.png) no-repeat;
}
.p9f1{
	position: absolute;
	top: 130px;
	width:640px;
	height:41px;
	opacity: 1;
	background:url(../images/P9-f1.png) no-repeat;
}
.p9f2{
	position: absolute;
	top: 320px; left: 210px;
	width:220px;
	height:395px;
	opacity: 1;
	background:url(../images/P9-f2.png) no-repeat;
}
.qqgif{
	position: absolute;
	top: 170px; left: 126px;
	opacity: 0;
}
.p4f3{
	position: absolute;
	top: 260px; right: 20px;
	width:167px;
	height:21px;
	opacity: 0;
	background:url(../images/P4-f3.png) no-repeat;
}
.progress-bar-1{
	position: absolute;
	top: 290px;
	width:640px;
	height:46px;
	background:url(../images/progress-bar-1.png) no-repeat;
	z-index: 99;
}
.progress-bar-2{
	position: absolute;
	top: 290px;
	width:640px;
	height:46px;
	background:url(../images/progress-bar-2.png) no-repeat;
	z-index: 100;
}
.line{
	position: absolute;
	top: 3px;left:4px;
	width:120px;
	height: 7px;
	background:url(../images/line.png) no-repeat;
}
.pwh{
	width:640px;
	height:430px;
}
.p41{
	background:url(../images/P4-1.jpg) no-repeat;
}
.p42{
	background:url(../images/P4-2.jpg) no-repeat;
}
.p43{
	background:url(../images/P4-3.jpg) no-repeat;
}
.p51{
	background:url(../images/P5-1.jpg) no-repeat;
}
.p52{
	background:url(../images/P5-2.jpg) no-repeat;
}
.p53{
	background:url(../images/P5-3.jpg) no-repeat;
}
.p54{
	background:url(../images/P5-4.jpg) no-repeat;
}
.p61{
	background:url(../images/P6-1.jpg) no-repeat;
}
.p62{
	background:url(../images/P6-2.jpg) no-repeat;
}
.p63{
	background:url(../images/P6-3.jpg) no-repeat;
}
.p64{
	background:url(../images/P6-4.jpg) no-repeat;
}
.p71{
	background:url(../images/P7-1.jpg) no-repeat;
}
.p72{
	background:url(../images/P7-2.jpg) no-repeat;
}
.p73{
	background:url(../images/P7-3.jpg) no-repeat;
}
.p81{
	background:url(../images/P8-1.jpg) no-repeat;
}
.p82{
	background:url(../images/P8-2.jpg) no-repeat;
}
.p83{
	background:url(../images/P8-3.jpg) no-repeat;
}
.qianw{
	position: absolute;
	top: 220px;
	width: 640px;
	height: 582px;
}
.qian1{
	background:url(../images/P10-q11.png) no-repeat;
}
.qian2{
	background:url(../images/P10-q12.png) no-repeat;
}
.qian3{
	background:url(../images/P10-q13.png) no-repeat;
}
.qian4{
	background:url(../images/P10-q14.png) no-repeat;
}
.qian5{
	background:url(../images/P10-q15.png) no-repeat;
}
.qian6{
	background:url(../images/P10-q16.png) no-repeat;
}
.qian7{
	background:url(../images/P10-q17.png) no-repeat;
}
.qian8{
	background:url(../images/P10-q18.png) no-repeat;
}
.rm-btn{
	width: 300px;
	height: 75px;
	line-height: 75px;
	font-size: 32px;
	position: absolute;
	top: 780px;
	left: 170px;
	border-radius: 8px;
	background-color: #918144;
	box-shadow: 0 0 5px rgba(0,0,0,.8);
}
.trees{
	position: absolute;
	top: 620px;
	left:100px;
	width: 460px;
	height: 240px;
}
.share-btn{
	width: 180px;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	position: absolute;
	top: 200px;
	left: 230px;
	border-radius: 5px;
	background-color: #918144;
	box-shadow: 0 0 5px rgba(0,0,0,.8);
}
.err-remind{
	width: 180px;
	height: 35px;
	text-align: center;
	position: absolute;
	top: -45px;
	left:-20px;
	color: #6f492b;
	font-size: 25px;
	opacity: 0;
}
.ewm{
	position: absolute;
	top: 300px;
	left:207px;
	width: 226px;
	height: 226px;
	background:url(../images/P11-f1.png) no-repeat;
}
.p11f2{
	position: absolute;
	top: 540px;
	left:206px;
	width: 228px;
	height: 27px;
	background:url(../images/P11-f2.png) no-repeat;
}
.p11f3{
	position: absolute;
	top: 100px;
	width: 640px;
	height: 73px;
	background:url(../images/P11-f3.png) no-repeat;
}
.mlf{
	position: absolute;
	top: 700px;
	left: 50px;
	width: 272px;
	height: 239px;
	background:url(../images/P2-f4.png) no-repeat;
}
.balloon-link{
	width: 400px;
	height: 60px;
	line-height: 60px;
	font-size: 25px;
	letter-spacing:2px;
	text-align: center;
	position: absolute;
	top: 610px;
	left: 120px;
	border-radius: 8px;
	background-color: #918144;
	box-shadow: 0 0 5px rgba(0,0,0,.8);
}
.balloon-link div{
	position: absolute;
	bottom: -29px;
	left: 110px;
	width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-top: 30px solid #918144;
}
.video-mask{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.8);
}
.video-btn-shadow{
	display: block;
	width: 77px;
	height: 77px;
	border-radius: 50%;
	background: rgba(0,0,0,.6);
	position: absolute;
	left: -1px;top: -1px;
	-webkit-animation: video_btnPlay 1s linear infinite;
}
.closeBtn,.dicb{
	position: absolute;
	top:15px;
	left:15px;
	z-index: 10;
}
.swiper-slide{
	width: 100%;
	height: 100%;
	position:relative
}
.swiper-main{
	/*-webkit-box-shadow: 0 0 160px 20px #5C99E7;*/
}
.s-bg{
	background-color: #515363;
}
.translate,.midw{
	-webkit-transition: 500ms ease-in;
}
@-webkit-keyframes video_btnPlay{
	0%{
	-webkit-transform:scale(1);
	opacity:.8
	}
	100%{
	-webkit-transform:scale(2);
	opacity:0
	}
}
@-webkit-keyframes remind-ring{
	0%{
	-webkit-transform:scale(1.5);
	opacity:.8
	}
	100%{
	-webkit-transform:scale(0.8);
	opacity:0
	}
}
@-webkit-keyframes finger {
    0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
a:link,a:visited,a:hover,a:active{
	color: #fff;
	text-decoration:none;
}
.auth{
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #747474;
	font-size: 25px;
	color: #fff;
}